[Unit]
Description=NFC-write uWSGI flask web app
After=network.target


[Service]
WorkingDirectory=/opt/prusa/filamentovna-nfc-write/web
ExecStart=/usr/bin/uwsgi --ini /etc/prusa/nfc_write_uwsgi.ini
ExecReload=/opt/prusa/filamentovna-nfc-write/web/bin/uwsgi-reload.sh

User=pyth
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5s
SyslogIdentifier=nfc_write_uwsgi


[Install]
WantedBy=multi-user.target
